html,
body {
  height: 100%;
}
.sorts__from {
  display: inline-block;
  padding: 15px;
}

/* .sort__btn:hover{
} */
.sort__input {
  margin-right: 2%;
}
.sort__group {
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  color: white;
  font-size: 18px;
  background-color: rgb(18, 38, 54);
  margin: 10px;
}
.sort {
  letter-spacing:2px ;
  font-size: 16px;
  color: aliceblue;
  margin:0% 3%;
}
.header__content {
  margin-bottom: 10px;
  font-size: 1.5em;
  color: white;
  text-align: center;
}
.sort__list {
  display: inline-flexbox;
}
.item__list {
  display: inline-blocks;
  border: steelblue 1px solid;
  max-height: 20%;
  overflow: auto;

}
.item__input{
  margin-right: 20px;
}

.content{
  height: 100vh;
}
.h_text{
  font-size: 32px;
  font-family: 'Courier New', Courier, monospace;
}

.delete__icon:hover{
cursor: pointer;
}